@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Noto+Serif+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poiret+One&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common font */
h1 {
  font-size: 2.5rem;
  font-family: "Poiret One", sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: "Poiret One", sans-serif;
}

h3 {
  font-size: 1.75rem;
  font-family: "Poiret One", sans-serif;
  margin: 8px auto;
}

h4 {
  font-size: 1.5rem;
  font-family: "Poiret One", sans-serif;
}

h5 {
  font-size: 1.25rem;
  font-family: "Poiret One", sans-serif;
  margin: 8px auto;
  line-height: 1.2rem;
}

h6 {
  font-size: 1rem;
  font-family: "Poiret One", sans-serif;
  margin: 8px auto;
  line-height: 1.2rem;
}

p {
  color: #001F3F;
  font-family: "Noto Sans TC", sans-serif;
  line-height: 1.2rem;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* outline: 1px red solid; */
}

html {
  height: 100%;
}

body {
  font-family: 'Noto Sans TC', sans-serif, Arial, Helvetica;
  text-align: center;
}

ul,
li {
  margin: 0;
  padding: 0;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: all .6s;
  transition: all .6s;
}

button {
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
}

.btnTop {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  z-index: 9;
  background-color: #6290c4;
  -webkit-transition: .3s;
  transition: .3s;
}

.btnTop:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #0d3868;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.grid-item {
  width: 320px;
}

.animT,
.animR,
.animB,
.animL,
.animM {
  opacity: 0;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

.animT {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.animR {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.animB {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.animL {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.animM {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
}

@media (max-width: 1140px) {
  .wrap {
    max-width: 1140px;
  }
}

@media (max-width: 960px) {
  .wrap {
    max-width: 960px;
  }
}

@media (max-width: 720px) {
  .wrap {
    max-width: 720px;
  }
}

@media (max-width: 540px) {
  .wrap {
    max-width: 540px;
  }
}

header {
  height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 0 2rem;
  background-color: rgba(54, 123, 201, 0.4);
}

.nav__a--logo {
  overflow: hidden;
  width: 70.16px;
  height: 78px;
  background: url("../img/logo.svg") no-repeat center;
  text-indent: 101%;
  white-space: nowrap;
  width: 70.16px;
  height: 78px;
  background: url("../img/logo.svg") no-repeat center;
}

.nav__menuList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__menuList .navItem__container {
  position: relative;
  overflow: hidden;
}

.nav__a {
  padding: 24px 32px;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
}

.nav__a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 300%, 0);
          transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 300%, 0);
}

.navItem__container:hover .nav__a::before, .nav__a.active::before {
  -webkit-transform: scale3d(3.3, 3.3, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -160%, 0);
          transform: scale3d(3.3, 3.3, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -160%, 0);
}

.nav__a.active::before {
  -webkit-transform: scale3d(3.3, 3.3, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
          transform: scale3d(3.3, 3.3, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 0, 0);
}

.footer {
  padding: 4rem 0;
  background-color: rgba(54, 123, 201, 0.4);
}

.footerLogo {
  width: 80px;
  margin: 0 auto;
}

.copyRight {
  text-align: center;
  color: #fff;
}

.material-icons {
  color: #fff;
}

.material-icons.md-40 {
  font-size: 40px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.btnTop {
  position: fixed;
  right: 1.5%;
  bottom: 1.5%;
  z-index: 9;
  background-color: #6290c4;
  -webkit-transition: .3s;
  transition: .3s;
}

.btnTop:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: #0d3868;
}

/* common spacing */
.education,
.workExperience,
.skill,
.license,
.studyExperience,
.siteLink {
  padding: 2rem 0;
}

.webDesign,
.banner,
.paintingWork,
.gameWorkByUnity,
.modelingWorkBy3dsMax {
  padding: 10rem 0;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #367cca;
  background-color: #0d3868;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #367cca;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.logo {
  overflow: hidden;
  width: 70.16px;
  height: 78px;
  background: url("../img/logo.svg") no-repeat center;
  text-indent: 101%;
  white-space: nowrap;
}

.logoMain {
  width: 476px;
  margin: 0 auto;
}

.sectionTitle {
  font-size: 10rem;
  font-weight: 700;
}

.vertical-lr {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: upright;
  white-space: nowrap;
}

/* dynamic background */
.dynamicBG-container {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: -webkit-gradient(linear, left top, left bottom, from(#8bc6f0), color-stop(70%, #71bbe9), to(#68b6e5));
  background: linear-gradient(#8bc6f0 0%, #71bbe9 70%, #68b6e5 100%);
  background: -webkitar-gradient(#8bc6f0 0%, #71bbe9 70%, #68b6e5 100%);
  background: -mozar-gradient(#8bc6f0 0%, #71bbe9 70%, #68b6e5 100%);
  background: -oar-gradient(#8bc6f0 0%, #71bbe9 70%, #68b6e5 100%);
  -webkit-transition: -webkit-filter 0.3s ease-in-out;
  transition: -webkit-filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}

.cloudL,
.cloudR {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1898px;
  height: 601px;
  background: url("../img/img-bgItem-cloud.png") repeat-x;
  background-size: cover;
  -webkit-animation-duration: 200s;
          animation-duration: 200s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cloudL {
  left: 0;
  -webkit-animation-name: cloudAnimL;
          animation-name: cloudAnimL;
}

.cloudR {
  left: 130%;
  -webkit-animation-name: cloudAnimR;
          animation-name: cloudAnimR;
}

@-webkit-keyframes cloudAnimL {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@keyframes cloudAnimL {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(-70%);
            transform: translateX(-70%);
  }
}

@-webkit-keyframes cloudAnimR {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@keyframes cloudAnimR {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
  50% {
    opacity: 0.7;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }
  100% {
    opacity: 0.9;
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

.dynamicBg {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
}

.blur {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  /* 初始模糊程度 */
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
  /* 平滑過渡效果 */
}

.logoMain {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
}

.education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.workExperience table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.workExperience table h5 {
  text-align: left;
  margin-left: 8px;
}

.webDesign {
  position: relative;
  background-color: #e0e0e0;
}

.webDesign:after, .webDesign:before {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #fff;
}

.webDesign:after {
  bottom: 8px;
}

.webDesign:before {
  top: 8px;
}

.webDesign .sectionTitle {
  color: #367cca;
}

.listWEB {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.listWEB > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: 2rem auto;
}

.listWEB > li .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  margin-left: 2rem;
}

.listWEB > li:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.listWEB > li:nth-child(even) p {
  margin-right: 2rem;
}

.p-topOther__link {
  width: 40%;
}

.p-topOther__linkThumb {
  aspect-ratio: 320/410;
  margin-right: auto;
  margin-left: auto;
  -webkit-mask-image: url(../img/mask_window.svg);
  mask-image: url(../img/mask_window.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

@media (any-hover: hover) {
  .p-topOther__linkThumb {
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  .p-topOther__linkThumb img {
    -webkit-transition: -webkit-transform 2s cubic-bezier(0.22, 1, 0.36, 1);
    transition: -webkit-transform 2s cubic-bezier(0.22, 1, 0.36, 1);
    transition: transform 2s cubic-bezier(0.22, 1, 0.36, 1);
    transition: transform 2s cubic-bezier(0.22, 1, 0.36, 1), -webkit-transform 2s cubic-bezier(0.22, 1, 0.36, 1);
  }
  .p-topOther__linkThumb:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.p-topOther__linkImage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.graphicContainer {
  background: #b1e1fff9 url("../img/stripeclear.png") repeat center;
}

.banner {
  position: relative;
}

.banner .sectionTitle {
  position: absolute;
  bottom: 10rem;
  right: 20%;
  color: #3e6db7;
}

.infiniteslide li {
  margin: 0 1rem;
}

.infiniteslide li:nth-child(even) {
  padding-bottom: 10rem;
}

.infiniteslide img {
  max-width: 650px;
  max-height: 650px;
  border-radius: 8px;
}

.paintingWork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  overflow: hidden;
  position: relative;
}

.paintingWork .sectionTitle {
  position: absolute;
  bottom: 5rem;
  left: 10%;
  z-index: 10;
  color: #0d3868;
  text-align: left;
}

.paintingWork img {
  height: 100%;
}

.swiperContainer {
  width: 60%;
}

.swiperContainer img {
  border-radius: 8px;
}

.gameWorkByUnity .sectionTitle {
  color: #367cca;
}

.careerRecord {
  background-color: rgba(255, 251, 242, 0.61);
}

.titleDLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titleDC {
  margin: 0 16px;
  width: 37px;
  height: 17px;
  background: url("../img/titleD01.svg") no-repeat center;
  background-size: contain;
}

.titleDL, .titleDR {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  height: 1px;
  background-color: #fff;
}

.titleDL::before, .titleDL::after, .titleDR::before, .titleDR::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 7px;
  height: 7px;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
  background-color: #fff;
}

.titleDL::before, .titleDR::before {
  left: 0;
}

.titleDL::after, .titleDR::after {
  right: 0;
  -webkit-transform: translate(0, -50%) rotate(45deg);
          transform: translate(0, -50%) rotate(45deg);
}

.contentBg {
  position: relative;
  margin: 3.5px;
  padding: 32px;
  border: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.555);
}

.contentBg::before, .contentBg::after,
.contentBg .frameD::before,
.contentBg .frameD::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #fff;
}

.contentBg::before {
  top: -3.5px;
  left: -3.5px;
}

.contentBg::after {
  top: -3.5px;
  right: -3.5px;
}

.contentBg .frameD::before {
  bottom: -3.5px;
  left: -3.5px;
}

.contentBg .frameD::after {
  bottom: -3.5px;
  right: -3.5px;
}

.yearsTitle {
  position: relative;
  margin-bottom: 16px;
  color: #0d386a;
}

.yearsTitle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 116px;
  height: 18px;
  background: url("../img/titleD02.svg") no-repeat center;
  background-size: contain;
}

.siteLink .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.siteLink .list > li:first-child {
  margin-right: 32px;
}
/*# sourceMappingURL=all.css.map */